[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/Ling-Ink/dependency-imgui.git
[submodule "include/imguifiledialog"]
	path = include/imguifiledialog
	url = https://github.com/Ling-Ink/dependency-imguifiledialog.git
