[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ColdDust-Dependencies/ImGui.git
[submodule "include/imguifiledialog"]
	path = include/imguifiledialog
	url = https://github.com/ColdDust-Dependencies/ImGuiFileDialog.git
